:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
#070F2B
#1B1A55
#535C91
#9290C3

#030637
#3C0753
#720455
#910A67

#10439F
#874CCC
#C65BCF
#F27BBD

#3A0088
#930077
#E61C5D
#FFE98A
*/


body{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.container{
  width: 100%;
}

.Header{
  background-color: #535C91;
  margin: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}

body ::spelling-error {
  text-decoration-line: none;
}

.Body{
  background-color: #9290C3;
  box-shadow: inset 0 0 3vh 0 black;
  height: 80vh;
  overflow: scroll;
}

.Body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Footer{
  background-color: #535C91;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

textarea, input{
  outline: none;
  border: none;
  background-color: inherit;
  border-radius: 1vh;
font-weight: bold;
  padding:1vh;
  overflow: hidden;
}

textarea::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
textarea {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

textarea:focus, input:focus {

  background-color: inhert;
  outline: none;
}

input, select, textarea{
  color: #000;
}

.ButtonB{
  font-weight: bolder;
  border: solid;
  width: 3ch;
  border-radius: 0.5ch;
  background-color: #242424;
}

.ButtonI{
  font-style: italic;
  border: solid;
  width: 3ch;
  border-radius: 0.5ch;
  background-color: #242424;
}

.ButtonU{
  text-decoration: underline;
  border: solid;
  width: 3ch;
  border-radius: 0.5ch;
  background-color: #242424;
}

.ButtonHolder{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.6vw;
  padding: 0 1vw;
}

.Note{
  border-radius: 1vh;
  border-width: 0.1rem;
  background-color: inherit;
  box-shadow: -0.2vh -0.2vh 0.6vh rgba(255, 255, 255, 0.5),
   0.2vh 0.2vh 0.7vh rgba(0,0,0,0.7);
   /*inset -0.2vh -0.2vh 0.6vh #9290C3,
   inset 0.2vh 0.2vh 0.6vh #000000;*/
   margin: 1vh;
  transition-duration: 0.2s;
  width: fit-content;

  backdrop-filter: blur(5px);
}

.Note:hover{

  box-shadow: -0.2vh -0.2vh 0.6vh rgba(255, 255, 255, 0.5),
  0.2vh 0.2vh 0.7vh rgba(0,0,0,0.5),
  inset -0.2vh -0.2vh 0.6vh rgba(255, 255, 255, 0.2),
  inset 0.2vh 0.2vh 0.7vh rgba(0,0,0,0.5);
}



ul{
  list-style: none;
}

.NoteAndButton{
  display: flex;
}

.EditButtons{
  display: flex;
  align-items: center;
}

.Button{
  border-radius: 2ch;
  background-color: #242424;
}

.LogoHolder{
  padding: 0 5vw;
}

.MenuHolder{
  padding: 0 5vw;
}